<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog's Homepage</title>
</head>
<body>
    <h1>All Dogs in Pens</h1>
    <a href="/show"/a>
    
</body>
</html>